# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore all backups
*~

# Ignore all testcases
tc/

# Ignore .DS_Store from mac
.DS_Store

# Ignore .exe from Windows
*.exe

# Ignore photoshop files
*.psd

# Ignore class files from java
*.class

# Ignore object file
*.o
